version: '2'
services:
  zookeeper:
    ## 镜像
    image: wurstmeister/zookeeper
    ports:
      ## 对外暴露的端口号
      - "2181:2181"
  kafka:
    ## 镜像
    image: wurstmeister/kafka
    volumes:
      ## 挂载位置（kafka镜像和宿主机器之间时间保持一直）
      - /etc/localtime:/etc/localtime
    ports:
      - "9092:9092"
    environment:
      ## 启动 topic leader 自动负载均衡
      KAFKA_AUTO_LEADER_REBALANCE_ENABLE: "true"
      ## 启用 topic
      KAFKA_DELETE_TOPIC_ENABLE: "true"
      ## 修改:宿主机IP
      KAFKA_ADVERTISED_HOST_NAME: 192.168.0.103
      ## 卡夫卡运行是基于zookeeper
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      ## 创建 test 主题的一个分区和三个副本
      KAFKA_CREATE_TOPICS: "test:1:3"
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_LOG_RETENTION_HOURS: 120
      KAFKA_MESSAGE_MAX_BYTES: 10000000
      KAFKA_REPLICA_FETCH_MAX_BYTES: 10000000
      KAFKA_GROUP_MAX_SESSION_TIMEOUT_MS: 60000
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_DELETE_RETENTION_MS: 1000
  kafka-manager:
    ## 镜像：开源的web管理kafka集群的界面
    image: sheepkiller/kafka-manager
    environment:
        ## 修改:宿主机IP
        ZK_HOSTS: 192.168.0.103
    ports:
      ## 暴露端口
      - "9001:9000"
